<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id = "com.phonegap.dja"
	version = "1.0.0">

	<name>Catalogo de servicios</name>

	<description>Aplicacion hecha con JQuery mobile</description>

	<author href="https://example.com" email="jasso_32@hotmail.com">Damian Jasso</author>

	<icon src="img/favicon.ico" gap:density="ldpi" gap:platform="android" />
	<icon src="img/favicon.ico" gap:density="mdpi" gap:platform="android" />
	<icon src="img/favicon.ico" gap:density="hdpi" gap:platform="android" />
	<icon src="img/favicon.ico" gap:density="xhdpi" gap:platform="android" />
</widget>